#analytics-organic {
	position: relative;

	#widgets {
		
		md-label {
			vertical-align: middle;
		}

		i {
			vertical-align: middle;
		}
	}
	
	.table-header {
		span {
			text-transform: capitalize;
		}
	}
}

// RESPONSIVE
@media screen and (min-width: $layout-breakpoint-md) {
	#analytics-organic {
		> .content {
			> .content {
				left: 268px;
			}
		}
	}
}