<div class="widget-group" layout="row" flex="100" layout-wrap>
  <ms-widget flippable="false" layout="row" flex="100">
    <ms-widget-front class="white-bg">
      <div class="p-24 border-bottom" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.dateRanges.table.thisMonth.dateStart | date : "MMM yyyy"}} vs {{vm.dateRanges.table.lastMonth.dateStart | date : "MMM yyyy"}}</div>
      </div>
      <div class="border-bottom">
        <div class="white-bg md-whiteframe-4dp">
          <table class="dataTable row-border hover" datatable="ng" dt-options="vm.options.table">
            <thead>
              <tr>
                <th class="secondary-text border" ng-repeat="key in vm.keys.table">
                  <div class="table-header">
                    <span class="column-title">{{ key.label }}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(iValue, value) in vm.values.tableThis">
                <td ng-repeat="(iItem, key) in vm.keys.table track by $index" class="border">
                  <span layout="row" layout-align="space-between center">
                    <span ng-if="key.dimension != null">{{ value[key.index] }}</span>
                    <span ng-if="key.dimension == null && key.filter=='text'">{{ value[key.index] }}</span>
                    <span ng-if="key.dimension == null && key.filter=='currency'">{{ value[key.index] | currency }}</span>
                    <span ng-if="key.dimension == null && key.filter=='percent'">{{ value[key.index] | number : 2 }}%</span>

                    <span ng-if="key.dimension == null && +vm.values.tableLast[iValue][key.index] != 0 && (value[key.index] - vm.values.tableLast[iValue][key.index]) / vm.values.tableLast[iValue][key.index] > 0" class="compare" ng-style="{color :  'green'}">({{ (value[key.index] - vm.values.tableLast[iValue][key.index]) * 100 / vm.values.tableLast[iValue][key.index] | number : 2 }}%)</span>
                    <span ng-if="key.dimension == null && +vm.values.tableLast[iValue][key.index] != 0 && (value[key.index] - vm.values.tableLast[iValue][key.index]) / vm.values.tableLast[iValue][key.index] < 0" class="compare" ng-style="{color :  'red'}">({{ (value[key.index] - vm.values.tableLast[iValue][key.index]) * 100 / vm.values.tableLast[iValue][key.index] | number : 2 }}%)</span>
                    <span ng-if="key.dimension == null && +vm.values.tableLast[iValue][key.index] != 0 && (value[key.index] - vm.values.tableLast[iValue][key.index]) / vm.values.tableLast[iValue][key.index] == 0" class="compare" ng-style="{color :  'black'}">({{ (value[key.index] - vm.values.tableLast[iValue][key.index]) * 100 / vm.values.tableLast[iValue][key.index] | number : 2 }}%)</span>
                    <span ng-if="key.dimension == null && +vm.values.tableLast[iValue][key.index] == 0" class="compare" ng-style="{color : 'black'}">(0%)</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ms-widget-front>
  </ms-widget>
</div>