#paid-media {
	position: relative;
	
	.content {
		md-tab-content {
			padding: 12px;
		}
	}
}

// RESPONSIVE
@media screen and (min-width: $layout-breakpoint-md) {
	#paid-media {
		> .content {
			> .content {
				left: 268px;
			}
		}
	}
}