<!-- DIALOG -->
<md-dialog class="user-dialog" aria-label="New Task">
  <form name="userForm" class="md-inline-form" novalidate>
    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent md-tall" layout="column">
      <!-- TOOLBAR TOP -->
      <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
        <span class="title">{{vm.title}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
      <!-- / TOOLBAR TOP -->
      <!-- TOOLBAR MIDDLE -->
      <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
        <div layout="column" layout-align="center center">
          <img ng-src="{{vm.user.avatar}}" class="md-avatar avatar user-avatar huge" alt="{{vm.user.name}}" />
          <div class="user-name">{{vm.user.name}}</div>
        </div>
      </div>
      <!-- / TOOLBAR MIDDLE -->
    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->
    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>
      <md-input-container class="md-icon-float md-block">
        <label>Email (required)</label>
        <md-icon md-font-icon="icon-account" class="name"></md-icon>
        <input ng-model="vm.user.email" type="text" ng-required md-autofocus>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Name (required)</label>
        <md-icon></md-icon>
        <input ng-model="vm.user.name" type="text" ng-required>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Role (required) : {{vm.role_label[vm.user.role]}}</label>
        <md-icon></md-icon>
        <input ng-model="vm.user.role" type="number" min="0" max="2" ng-required>
      </md-input-container>
      <md-input-container ng-if="!vm.newUser" class="md-icon-float md-block">
        <label>Old Password (required)</label>
        <md-icon></md-icon>
        <input name="oldPassword" ng-model="vm.user.oldPassword" type="password">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Password (required)</label>
        <md-icon></md-icon>
        <input name="newPassword" ng-model="vm.user.newPassword" type="password" ng-required>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Confirm Password (required)</label>
        <md-icon></md-icon>
        <input name="confirmPassword" match-password="newPassword" ng-model="vm.user.confirmPassword" type="password" ng-required>
      </md-input-container>
    </md-dialog-content>
    <!-- / DIALOG CONTENT -->
    <!-- DIALOG ACTIONS -->
    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit" ng-if="!vm.newUser" ng-click="vm.saveContact()" class="send-button md-accent md-raised" ng-disabled="userForm.$invalid || userForm.$pristine" aria-label="SAVE">
          SAVE
        </md-button>
        <md-button type="submit" ng-if="vm.newUser" ng-click="vm.addNewContact()" class="send-button md-accent md-raised" ng-disabled="userForm.$invalid || userForm.$pristine" aria-label="Add Task">
          ADD USER
        </md-button>
      </div>
      <div ng-if="!vm.user" layout="row">
        <md-button class="md-icon-button" ng-click="vm.deleteUserConfirm($event)" aria-label="Delete">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip><span>DELETE</span></md-tooltip>
        </md-button>
      </div>
    </md-dialog-actions>
    <!-- / DIALOG ACTIONS -->
  </form>
</md-dialog>
<!-- / DIALOG -->
