md-dialog {
  &.user-dialog {
    max-width: 400px;
    width: 400px;
    md-toolbar {
      height: 200px;
      min-height: 200px;
      max-height: 200px;
      .title {
        font-size: 17px;
      }
      .md-toolbar-tools-middle {
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        .user-avatar {
          margin: 0;
        }
        .user-name {
          font-size: 24px;
          margin: 8px 0;
          text-transform: capitalize;
        }
      }
      .md-toolbar-tools-bottom {
        md-menu {
          margin: 0;
        }
      }
    }
    md-dialog-content {
      display: block;
      position: relative;

      md-input-container {
        margin-top: 0;

        label {
          .error {
            color : red;
          }
        }
      }
      md-icon {
        color: rgba(0, 0, 0, 0.87);
        margin: 0 8px 0 0;
      }
    }
    md-dialog-actions {
      position: relative;
      overflow-y: hidden;
      overflow-x: auto;
      justify-content: end;
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
