#cross-channel {
	position: relative;
	
	.table-header {
		span {
			text-transform: capitalize;
		}
	}
}

// RESPONSIVE
@media screen and (min-width: $layout-breakpoint-md) {
	#cross-channel {
		> .content {
			> .content {
				left: 268px;
			}
		}
	}
}