#cross-channel {
	position: relative;
	
	#widgets {
		
		md-label {
			vertical-align: middle;
		}

		i {
			vertical-align: middle;
		}
	}
}

// RESPONSIVE
@media screen and (min-width: $layout-breakpoint-md) {
	#cross-channel {
		> .content {
			> .content {
				left: 268px;
			}
		}
	}
}